*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    max-width: 90%;
    /* height: 100vh; */
    margin-inline: auto;
    font-family: 'Poppins' , 'sans-serif';
    color: var(--primary-text-color)
}

:root 
{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto' ,'sans-serif';
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline;
}