.cta
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #293c57;
    background-color: #183b54;
    padding: 70px 0px;
    color: white;
}
.getStart
{
    min-width: 150px;
}
.cta h3{
    text-align: center;
}
.cta h4{
    text-align: center;
}
@media (width<=800) {
    .cta h3{
        font-size: .9rem;
    }
    .cta h4{
        font-size: .6rem;
    } 

}