.img_logo
{
    display: flex;
    justify-content: center;
    margin-bottom: 7vh;
}
.footer
{
    width: 100%;
    padding: 50px 0px;
}
.footer a{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.footer a:hover{
    color: rgb(228, 2, 2);
    font-weight: 800;
    transition: 0.5s;
}
.left_x{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    gap: 5vw;
}
.product{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.methodology{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.resources{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer img{
    width: 30px;
    height: 30px;
    border-radius: 25%;
}

@media (width<=800px) {

    .footer
    {
        width: 100%;
        padding: 50px 0px;
    } 
    .img_logo
{
    display: flex;
    justify-content: center;
}
    .product
    {
        align-items: center;
    }
    .resources
    {
        align-items: center;
    }
    .methodology
    {
        align-items: center;
    }
    .left_x{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5vh;
    }
}
  