.header
{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    padding-top: 40px;
    align-items: center;
    margin-top: 50px;
    
}

.h_left
{
    row-gap: 30px; 
    max-width: 40vw;
    align-self: flex-start;
    /* padding: 20px; */
}
.h_right
{
  max-width: 70vw;
  align-self: flex-end;
}
.h_right img
{
    width: 35vw ;
    height: 35vh;
    padding: 10px;
}

.header h3::selection
{
    color: yellowgreen;
    background-color: black;
}
.header h1::first-letter
{
    font-size: 1.5em;
    color:red;
    text-shadow: 5px 2px 9px black;
    
}

@media (width<=800px) {
    .header
    {
        gap: 10px;
    }
    .h_right img
    {
        min-width: 70vw;
        min-height: 50vh;
        padding: 10px;
    }
    .h_right
    {   
        display: flex;
        flex-direction: column;
    }

    .h_left{
        /* border: 1px solid rgb(182, 178, 178); */
        
        min-width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .h_left h3{
       font-size: .7rem;
    }

}