.header
{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    padding-top: 40px;
    align-items: center;
    margin-top: 50px;
    
}

.h_left
{
    gap: 20px; 
    max-width: 40vw;
    align-self: flex-start;
}
.h_right
{
  max-width: 70vw;
  align-self: flex-end;
}
.h_right img
{
    width: 35vw ;
    height: 35vh;
    padding: 10px;
}

@media (width<=800px) {
    .h_right img
    {
        min-width: 70vw;
        padding: 10px;
    }
    .h_right
    {   
        display: flex;
        flex-direction: column;
    }

    .h_left{
        border: 1px solid black;
        min-width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .h_left h3{
       font-size: .7rem;
    }

}