.nav
{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.2s ease-out;
    /* flex-wrap: wrap; */
}

.logo
{
    height: 150px;
    width: 150px;
    border: .5px solid black;
    border-radius: 50%;
    animation-name: circular;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 2px 2px 1px red;

}
@keyframes circular
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

.nav img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.n_left{
    gap: 2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
}
.n_right
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.options
{
    display: none;
}

.title
{
    font-size: 1.8rem;
    text-decoration: none;

}
.nav_link
{
    font-size: larger;
    text-decoration: none;
}

.nav_button
{
    text-decoration: none;
}

.nav_link:hover ,.title:hover, .nav_button:hover {
    color: #2294ed;
    background-color:black;
    transform: translate(0deg , 10deg);
  }

  @media (width<=1200px) {

    .n_left
    {
        gap: 3vw;
    }
    .n_right
    {
        display: none;
    }
    .options
    {
        display: inline-block;
    }

    
}
  