.nav
{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.nav img{
    width: 100px;
    height: 100px;
    border-radius: 25%;
}
.n_left{
    gap: 2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
}
.n_right
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.options
{
    display: none;
}

.title
{
    font-size: 1.8rem;
    text-decoration: none;

}
.nav_link
{
    font-size: larger;
    text-decoration: none;
}

.nav_button
{
    text-decoration: none;
}

.nav_link .title .nav_button:hover {
    color: #2294ed;
    transition: 0.2s ease-out;
  }

  @media (width<=1200px) {

    .n_left
    {
        gap: 3vw;
    }
    .n_right
    {
        display: none;
    }
    .options
    {
        display: inline-block;
    }

    
}
  